.title {
  color: white;
  font-size: 48px;
  line-height: 59px;
  font-weight: 800;
}

.searching {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  border: 1px solid #1a1a1a;
  border-radius: 20px;
  background: #3a3f4e;
  padding: 10px 20px 10px;
  &_input {
    background: rgba(26, 26, 26, 0.6);
    border: 1px solid rgba(26, 26, 26, 0.6);
    border-radius: 15px;
    padding: 10px 340px 10px;
    text-align: start;
    color: white;
  }
  &_search {
    display: flex;
    align-items: center;
    border: 1px solid #747ca5;
    border-radius: 15px;
    background: #747ca5;
    padding: 3px 60px 3px;
    margin-left: 5px;
    &_text {
      color: white;
      font-size: 14px;
      line-height: 22px;
      font-weight: bold;
      margin-left: 10px;
    }
  }
  &_second {
    display: flex;
    justify-content: space-between;
    &_input {
      margin-top: 10px;
      background-color: rgba(26, 26, 26, 0.6);
      color: white;
      font-weight: 600;
      border: 1px solid rgba(26, 26, 26, 0.6);
      border-radius: 10px;
      max-width: 290px;
      max-height: 50px;
      width: 100%;
      height: 100%;
      display: inline-block;
      padding-left: 5px;
    }
    &_sub {
      display: flex;
      flex-direction: column;
    }
    &_subtext {
      color: #999999;
      margin: 10px 5px 0;
      font-weight: bold;
      font-size: 10px;
      line-height: 14px;
    }
  }
}

.select {
  position: relative;
  background: rgba(26, 26, 26, 0.6);
  border: 1px solid rgba(26, 26, 26, 0.6);
  border-radius: 15px;
  padding: 12px 50px 12px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

.option {
  background-color: #1a1a1a;
}
