@media (max-width: 600px) {
  .register {
    display: flex;
    align-items: center;
    justify-content: center;
    &_first {
      &_image {
        display: none;
      }
      &_400 {
        display: block;
      }
    }
  }
}
