.fullscreen-wrap {
  height: 120vh;
  min-height: 600px;
  position: relative;

  .about_text {
    display: flex;
    justify-content: space-between;
    &__title {
      display: flex;
      max-width: 499px;
      color: white;
      font-size: 48px;
      font-weight: 800;
      padding-top: 20%;
    }
    &__more {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 220px;
      height: 40px;
      border-radius: 50px;
      background-color: #747ca5;
      font-size: 14px;
      line-height: 22px;
      color: white;
      margin-top: 20px;
    }
    &__book {
      position: absolute;
      top: -40px;
      right: 0px;
      z-index: 1;
    }
    &__768 {
      display: none;
    }
    &__400 {
      display: none;
    }
    &__key {
      border-radius: 20px;
      border: 1px solid #747ca5;
      height: 25px;
      width: 25px;
    }
  }
}

.about {
  &_circle {
    &_right {
      background-color: #635995;
      border-radius: 100%;
      height: 880px;
      width: 880px;
      z-index: -10;
      position: absolute;
      top: -150px;
      right: -50px;
    }
    &_left {
      background-color: #ec7368;
      border-radius: 100%;
      height: 400px;
      width: 400px;
      z-index: -10;
      position: absolute;
      top: 300px;
      left: -50px;
    }
  }
}

.reversed {
  transform: rotate(180deg);
  z-index: -10;
}
