.book {
  max-width: 210px;
  max-height: 380px;
  border: 1px solid #3a3f4e;
  background-color: rgba(26, 26, 26, 0.6);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px 0;
  &_image {
    display: flex;
    justify-content: flex-end;
    position: relative;
    max-width: 170px;
    max-height: 230px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &_text {
      position: absolute;
      bottom: 5px;
      right: 50px;
      border: 1px solid #479efc;
      background-color: #479efc;
      border-radius: 10px;
      padding: 2px;
      font-size: 12px;
      color: white;
    }
    &_audio {
      position: absolute;
      bottom: 5px;
      right: 5px;
      border: 1px solid #fe8d00;
      background-color: #fe8d00;
      color: white;
      border-radius: 10px;
      padding: 2px;
      font-size: 12px;
    }
  }
  &_title {
    color: white;
    font-weight: bold;
    margin: 10px 0;
  }
  &_genree {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_genre {
    color: white;
    margin: 0 10px;
    height: 35px;
  }
  &_footer {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: #747ca5;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    .footer_btn {
      border-radius: 16px;
      background-color: #747ca5;
      border: 1px solid #747ca5;
      height: 25px;
      width: 25px;
    }
  }
}
