.collector {
  z-index: 12;
  position: relative;
  font-size: 24px;
  line-height: 36px;
  color: white;
  margin-top: 40px;
  font-weight: bold;
  &-wrap {
    display: flex;
    justify-content: space-evenly;
  }
}

.inside-collector {
  color: white;
  max-width: 435px;
  max-height: 280px;
  border: 1px solid rgba(26, 26, 26, 0.6);
  border-radius: 20px;
  background: rgba(26, 26, 26, 0.6);
  margin: 40px 10px 0;
  &_first {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 15px;
    &_image {
      position: absolute;
      top: -20px;
      z-index: 1;
      max-width: 170px;
      max-height: 230px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &_image1 {
      opacity: 0.1;
      z-index: -1;
      max-width: 170px;
      max-height: 230px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &_image2 {
      position: absolute;
      top: -18px;
      left: 3px;
      max-width: 170px;
      max-height: 230px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &_image3 {
      position: absolute;
      top: -17px;
      left: 6px;
      max-width: 170px;
      max-height: 230px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &_image4 {
      top: -16px;
      position: absolute;
      left: 9px;
      max-width: 170px;
      max-height: 230px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &_text {
      flex: 1;
      align-items: flex-start;
      .text {
        margin-left: 20px;
        display: flex;
        min-height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        &_title {
          font-size: 14px;
          font-weight: bold;
          line-height: 22px;
        }
        &_author {
          font-size: 12px;
          line-height: 14px;
          color: #999999;
        }
        &_words {
          font-size: 12px;
          line-height: 14px;
          color: #999999;
        }
        &_star {
          object-fit: contain;
        }
      }
    }
  }
  &_second {
    display: flex;
    justify-content: space-around;
    padding: 5px 0 5px;
    align-items: center;

    &_select {
      display: flex;
      justify-content: space-between;
      width: 20%;
      .select_audio {
        border: 1px solid #fe8d00;
        background-color: #fe8d00;
        color: white;
        border-radius: 10px;
        padding: 2px;
        font-size: 12px;
      }
      .select_text {
        border: 1px solid #479efc;
        background-color: #479efc;
        border-radius: 10px;
        padding: 2px;
        font-size: 12px;
        color: white;
      }
    }
    &_price {
      color: #747ca5;
      font-size: 12px;
    }
    &_button {
      border-radius: 50%;
      background-color: #747ca5;
      border: 1px solid #747ca5;
      height: 20px;
      width: 20px;
    }
  }
}
