.footer {
  background: rgba(26, 26, 26, 0.6);
  margin-top: 30px;
  padding: 20px 0 20px;
  &_first {
    display: flex;
    justify-content: space-evenly;
    color: white;
    &_400 {
      display: flex;
      justify-content: space-evenly;
      flex: 1;
    }
    &_column {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    &_title {
      font-weight: bold;
      font-size: 14px;
      line-height: 100%;
    }
    &_item {
      font-size: 14px;
      line-height: 100%;
      font-weight: 500;
      cursor: pointer;
    }
    &_logo {
      cursor: pointer;
    }
  }
  &_second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 10px;
    color: white;
    &_fulibu {
      font-size: 12px;
      line-height: 18px;
    }
    &_fulibu2 {
      display: none;
    }
    &_social {
      display: flex;
      margin: 0 15px 0;
      cursor: pointer;
    }
    &_innovative {
      display: flex;
      align-items: center;
    }
    &_item {
      font-size: 12px;
      line-height: 18px;
      margin-right: 10px;
    }
    &_team {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    &_teamname {
      color: white;
      display: flex;
      margin-left: 5px;
      width: 63px;
      height: auto;
      font-size: 9px;
      line-height: 11px;
    }
  }
}
