.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  &_center {
    margin: 0 10px;
  }
  .link {
    display: block;
  }
  &_logo {
    position: relative;
  }
}
