.recommendation {
  z-index: 100;
  color: white;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  max-width: 198px;
  margin: 0 20px 0;
  &-wrap {
    display: flex;
    justify-content: space-between;
  }
  &_btn {
    display: flex;
    justify-content: center;
  }
  &_more {
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 40px;
    border: 1px solid #747ca5;
    padding: 20px;
    border-radius: 20px;
    background-color: #747ca5;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    &_btn {
      border: 1px solid #747ca5;
      border-radius: 20px;
      width: 25px;
      height: 25px;
      margin-left: 10px;
    }
  }
}
