.topbook {
  display: block;
  color: white;
  width: 435px;
  height: 280px;
  border: 1px solid rgba(26, 26, 26, 0.6);
  background: rgba(26, 26, 26, 0.6);

  border-radius: 20px;
  margin: 40px 10px 0;
  &_first {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 15px;
    text-align: start;
    &_image {
      position: absolute;
      top: -15px;
      width: 170px;
      height: 230px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &_image1 {
      opacity: 0.05;
      z-index: -1;
      max-width: 170px;
      max-height: 230px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &_text {
      flex: 1;
      .text {
        margin-left: 20px;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        &_title {
          font-size: 14px;
          font-weight: bold;
          line-height: 22px;
        }
        &_author {
          font-size: 12px;
          line-height: 14px;
          color: #999999;
        }
        &_words {
          font-size: 12px;
          line-height: 14px;
          color: #999999;
        }
        &_star {
          object-fit: contain;
        }
      }
    }
  }
  &_second {
    display: flex;
    justify-content: space-around;
    padding: 5px 0 5px;
    align-items: center;
    &_select {
      display: flex;
      justify-content: space-between;
      width: 20%;
      .select_audio {
        border: 1px solid #fe8d00;
        background-color: #fe8d00;
        color: white;
        border-radius: 10px;
        padding: 2px;
        font-size: 12px;
      }
      .select_text {
        border: 1px solid #479efc;
        background-color: #479efc;
        border-radius: 10px;
        padding: 2px;
        font-size: 12px;
        color: white;
      }
    }
    &_price {
      color: #747ca5;
      font-size: 12px;
    }
    &_button {
      border-radius: 50%;
      background-color: #747ca5;
      border: 1px solid #747ca5;
      height: 20px;
      width: 20px;
    }
  }
}

.top {
  font-size: 24px;
  line-height: 36px;
  color: white;
  margin-top: 40px;
  font-weight: bold;
  z-index: 12;
  position: relative;
  &_wrap {
    display: flex;
    justify-content: space-evenly;
  }
}
