@media (max-width: 992px) {
  .bottom {
    &_price {
      width: 200px !important;
    }
    &_library {
      width: 200px !important;
    }
    &_buy {
      width: 200px !important;
    }
  }

  .product {
    &_right {
      &_title {
        margin: 10px 0 10px;
      }
      &_subtitle {
        margin: 10px 0 10px;
      }
    }
  }
}
