@media (max-width: 768px) {
  .product {
    &_right {
      &_title {
        font-size: 40px;
        margin: 5px 0 0;
      }
      &_subtitle {
        margin: 5px 0 5px;
      }
    }
  }
  .bottom {
    &_price {
      width: 160px !important;
    }
    &_library {
      width: 160px !important;
    }
    &_buy {
      width: 160px !important;
    }
  }
}
