@import "../modules/about.scss";
@import "../modules/recommendation.scss";
@import "../modules/book.scss";
@import "../modules/topbook.scss";
@import "../modules//collector.scss";
@import "../modules/footer.scss";

// .content {
//   overflow-x: hidden;
// }
.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}
