@import "./home.scss";
@import "../modules/nav.scss";
@import "../pages/ProductCard.scss";
@import "../../scss/pages/search.scss";
@import "../../scss/pages/profile.scss";
@import "../../scss//pages//register.scss";
body {
  background: #3a3f4e;
  overflow-x: hidden;
}
