@import "../modules/ProductCard/productcardfirst.scss";
@import "../modules/ProductCard/productcardsecond.scss";

.recommend {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}
