.profile {
  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_text {
      color: white;
      font-size: 48px;
      line-height: 64px;
      font-weight: bold;
    }
  }
  &_subtitle {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid rgba(26, 26, 26, 0.6);
    background-color: rgba(26, 26, 26, 0.6);
    padding: 20px 20px 20px;
    .level {
      display: flex;
      justify-content: space-between;
      flex: 1;
      &-wrap {
        flex: 1;
        max-width: 162px;
      }
      .inner {
        display: flex;
        justify-content: space-between;
        border: 1px solid #1a1a1a;
        background-color: #1a1a1a;
        height: 24px;
        flex: 1;
        border-radius: 20px;
        position: relative;
        & .after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          top: 0;
          background: blue;
          border-radius: 20px;
        }
      }
      .text {
        text-align: center;
      }
      .active {
        .text {
          color: #33d160;
        }
        .inner .after {
          background: #33d160;
        }
      }
    }
  }
  &_info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    &_first {
      padding: 20px 20px 20px;
      border: 1px solid rgba(26, 26, 26, 0.6);
      background-color: rgba(26, 26, 26, 0.6);
      border-radius: 20px;
      width: 540px;
      height: 224px;
      margin-right: 50px;
    }
    &_greeting {
      display: flex;
      flex-direction: row;
      .greeting_text {
        color: white;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        margin: 0 5px 15px;
      }
      .greeting_name {
        color: #747ca5;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
      }
    }
    .first_text {
      color: white;
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      &_orange {
        color: #fe8d00;
        margin-top: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
      }
    }
    &_friends {
      display: flex;
      justify-content: space-between;
    }
    &_shop {
      display: flex;
      justify-content: space-between;
    }
    &_sum {
      display: flex;
      justify-content: space-between;
    }
    &_cashback {
      display: flex;
      justify-content: space-between;
    }
    &_second {
      .second_item {
        border: 1px solid rgba(26, 26, 26, 0.6);
        background-color: rgba(26, 26, 26, 0.6);
        padding: 15px 20px 15px;
        border-radius: 20px;
        &_title {
          color: white;
          font-size: 24px;
          line-height: 36px;
          font-weight: 700;
          margin-bottom: 20px;
        }
        &_link {
          color: #747ca5;
          font-size: 14px;
          line-height: 22px;
          font-weight: 400;
        }
      }
      .second_button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #747ca5;
        border: 1px solid #747ca5;
        border-radius: 20px;
        margin-top: 40px;
        max-width: 540px;
        max-height: 50px;
        padding: 15px 0 15px;
        &_text {
          background-color: #747ca5;
          border: 1px solid #747ca5;
          cursor: pointer;
          color: white;
          font-size: 14px;
          line-height: 22px;
          font-weight: 700;
          margin-left: 5px;
        }
      }
    }
  }
}
