.register {
  display: flex;
  align-items: center;
  justify-content: center;
  &_first {
    text-align: center;
    &_400 {
      display: none;
    }
    &_name {
      color: #fe8d00;
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    &_welcome {
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
      color: white;
    }
    &_spark {
      color: #33d160;
      font-weight: 700;
    }
    &_text {
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
      color: white;
      margin-bottom: 15px;
    }
  }
  &_second {
    &_text {
      font-size: 10px;
      line-height: 14px;
      font-weight: 700;
      color: #999999;
      display: flex;
    }
    &_input {
      display: flex;
      max-width: 350px;
      max-height: 50px;
      input {
        margin-top: 5px;
        color: white;
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
        padding-left: 20px;
        background-color: #1a1a1a;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        border: 1px solid #1a1a1a;
      }
    }
    &_btn {
      margin-top: 15px;
      color: white;
      background-color: #33d160;
      border: 1px solid #33d160;
      border-radius: 20px;
      font-size: 14px;
      line-height: 22px;
      font-weight: 700;
      width: 350px;
      height: 50px;
      cursor: pointer;
    }
  }
  &_third {
    font-size: 10px;
    line-height: 14px;
    font-weight: 700;
    color: #999999;
    margin-top: 10px;
    margin-bottom: 50px;
  }
}
