.main_second {
  color: white;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin: 20px 0 15px;
  &_text {
    border: 1px solid rgba(26, 26, 26, 0.6);
    background: rgba(26, 26, 26, 0.6);
    border-radius: 20px;
    padding: 20px;
  }
  &_subtext {
    color: white;
    font-size: 14px;
    line-height: 22px;
  }
}
