.product {
  display: flex;
  justify-content: space-between;
  &_left {
    margin-top: 20px;
    z-index: 1;
    display: flex;
    flex: 3;
    &_item {
      border: 1px solid rgba(0, 0, 0, 0.05);
      background-color: rgba(26, 26, 26, 0.6);
      padding: 0 10px 0;
      border-radius: 15px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &_image {
      max-width: 310px;
      max-height: 418px;
    }
  }
  &_right {
    display: flex;
    flex: 8;
    flex-direction: column;
    margin-left: 20px;
    &_title {
      color: white;
      font-size: 48px;
      line-height: 64px;
      font-weight: bold;
      max-width: 730px;
      max-height: 128px;
      margin: 30px 0 30px;
    }
    &_subtitle {
      font-size: 16px;
      line-height: 22px;
      color: white;
      margin: 20px 0 30px;
    }
    &_description {
      border: 1px solid rgba(26, 26, 26, 0.6);
      border-radius: 20px;
      background: rgba(26, 26, 26, 0.6);
      padding: 18px;
    }
    &_subdescription {
      display: flex;
      color: white;
      align-items: center;
      .bold {
        font-size: 14px;
        line-height: 22px;
        font-weight: bold;
        margin: 5px 4px 5px;
      }
      .small {
        font-size: 14px;
        line-height: 22px;
        margin-left: 4px;
        &_color {
          color: #747ca5;
          text-decoration: underline;
        }
      }
    }
  }
}
.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  &_price {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #747ca5;
    border-radius: 15px;
    background: #747ca5;
    // padding: 10px 100px 10px;
    width: 350px !important;
    height: 50px;
    &_text {
      display: flex;
      text-align: center;
      align-items: center;
      align-content: center;
      color: white;
      font-size: 12px;
      font-weight: bold;
      line-height: 22px;
      margin-left: 5px;
    }
  }
  &_library {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fe8d00;
    border-radius: 15px;
    background: #fe8d00;
    // padding: 10px 100px 10px;
    width: 350px !important;
    height: 50px;
    &_text {
      color: white;
      font-size: 12px;
      font-weight: bold;
      line-height: 22px;
      margin-left: 5px;
    }
  }
  &_buy {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #33d160;
    border-radius: 15px;
    background: #33d160;
    // padding: 10px 100px 10px;
    width: 350px !important;
    height: 50px;
    &_text {
      color: white;
      font-size: 12px;
      font-weight: bold;
      line-height: 22px;
      margin-left: 5px;
    }
  }
}
