@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
// .blur {
//   background: rgba(26, 26, 26, 0.6) !important;
//   backdrop-filter: blur(40px);
//   border-radius: 20px;
// }
@import "./pages/index.scss";
@import "./libs/grid/bootstrap-grid.scss";
@import "./modules/Media/MediaQueries.scss";
