@media (max-width: 992px) {
  .abouttext {
    &__text {
      display: flex;
      max-width: 499px;
      color: white;
      font-size: 26px !important;
      font-weight: 800;
      // padding-top: 20%;
    }
    &__book {
      display: none;
    }
    &__768 {
      display: flex !important;
      position: absolute;
      top: 20px;
      right: -5px;
      z-index: 1;
    }
    &__more {
      width: 180px !important;
      height: 36px !important;
      font-size: 14px !important;
    }
  }
  .aboutright {
    &_circle {
      height: 600px;
      width: 600px;
    }
    &_book4 {
      top: -50px;
      right: 230px;
    }
    &_book5 {
      top: 60px;
      right: 40px;
    }
    &_book6 {
      top: 260px;
      right: 380px;
    }
    &_book7 {
      top: 480px;
      right: 150px;
    }
  }
  .aboutleft {
    &_circle {
      height: 300px;
      width: 300px;
    }
    &_book1 {
      top: -90px;
      left: 150px;
    }
    &_book2 {
      top: 140px;
      left: -10px;
    }
    &_book3 {
      top: 440px;
      left: 50px;
    }
  }
}
