@media (max-width: 768px) {
  .abouttext {
    &__text {
      display: flex;
      max-width: 280px !important;
      color: white;
      font-size: 18px !important;
      font-weight: 800;
      // padding-top: 20%;
    }
    &__book {
      display: none;
    }
    &__768 {
      display: none !important;
    }
    &__400 {
      display: flex !important;
      position: absolute;
      top: 20px;
      right: -30px;
      z-index: 1;
    }
    &__more {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 150px !important;
      height: 26px !important;
      border-radius: 50px;
      background-color: #747ca5;
      font-size: 12px !important;
      color: white;
      margin-top: 20px;
    }
    &__button {
      &-key {
        border-radius: 10px;
        border: 1px solid #747ca5;
        height: 20px !important;
        width: 20px !important;
      }
    }
  }
  .aboutright {
    &_circle {
      height: 500px;
      width: 500px;
    }
    &_book4 {
      display: none;
    }
    &_book5 {
      display: none;
    }
    &_book6 {
      display: none;
    }
    &_book7 {
      display: none;
    }
    &_4book768 {
      display: flex;
      position: absolute;
      top: -30px;
      right: 140px;
    }
    &_5book768 {
      display: flex;
      position: absolute;
      top: 80px;
      right: -40px;
    }
    &_6book768 {
      display: flex;
      position: absolute;
      top: 100px;
      right: 300px;
    }
    &_7book768 {
      display: flex;
      position: absolute;
      top: 300px;
      right: 80px;
    }
  }
  .aboutleft {
    &_circle {
      height: 250px;
      width: 250px;
    }
    &_book1 {
      display: none;
    }
    &_book2 {
      display: none;
    }
    &_book3 {
      display: none;
    }
    &_1book768 {
      display: flex;
      position: absolute;
      top: 0px;
      left: 100px;
    }
    &_2book768 {
      display: flex;
      position: absolute;
      top: 200px;
      left: 0px;
    }
    &_3book768 {
      display: flex;
      position: absolute;
      top: 400px;
      left: 80px;
    }
  }
  .footer {
    &_first {
      &_logo {
        display: none;
      }
    }
  }
}
