@media (max-width: 1200px) {
  .abouttext {
    &__text {
      display: flex;
      max-width: 499px;
      color: white;
      font-size: 36px !important;
      font-weight: 800;
      padding-top: 20%;
    }
    &__book {
      display: none;
    }
    &__768 {
      display: flex !important;
      position: absolute;
      top: 20px;
      right: 80px;
      z-index: 1;
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
}
